.container {
    margin: 10px 0 50px 0;
}

.card {
    margin: 0 1% !important;
    padding: 0 10px !important;
    text-align: center;
}

.infected {
    border-bottom: 10px solid rgb(0, 0, 255);
    background-color: rgba(0, 0, 255, 0.5) !important;
    box-shadow: 0 20px 20px rgba(159, 242, 253, 0.8) !important;
}

.recovered {
    border-bottom: 10px solid rgb(0, 255, 0);
    background-color: rgba(0, 255, 0, 0.5) !important;
    box-shadow: 0 20px 20px rgba(159, 242, 253, 0.8) !important;
}

.deaths {
    border-bottom: 10px solid rgb(255, 0, 0);
    background-color: rgba(255, 0, 0, 0.5) !important;
    box-shadow: 0 20px 20px rgba(159, 242, 253, 0.8) !important;
}

.active {
    border-bottom: 10px solid rgb(255, 174, 0);
    background-color: rgb(255, 174, 0, 0.5) !important;
    box-shadow: 0 20px 20px rgba(159, 242, 253, 0.548) !important;
}

@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}